
.img-analisis{
    width: 240px;
    height: 280px;
}

div.contenedor1{
    margin-top: 80px;
   
}

div.contenedor2{
    margin-top: 80px;
}

div.contenedor3{
    margin-top: 80px;  
}

div.imagenes-analisis{
   margin-bottom: 50px ;
   object-fit: cover;
}



